@import './variable.module.scss';

// global.scss

// Layout
$mobile-width: 375px;
$desktop-width: 1440px;

// Apply SCSS variables to CSS variables in the root
:root {
  --background-color: #{$color-background-light}; // Light theme background
  --backgroundSubject-color: #{$color-text-light}; // Dark theme background
  --text-color: #{$color-text-light}; // Light theme text
}

/* Dark theme adjustments using CSS variables */
.theme-dark {
  --background-color: #{$color-background-dark}; // Dark theme background
  --backgroundSubject-color: #{$color-background-light}; // Dark theme background
  --text-color: #{$color-text-dark};
}

// General Body Styles
body {
  font-size: $body-font-size;
  background-color: var(--background-color);
  color: var(--text-color);
  transition: $transition;
}

// Media Queries for Layout
