@import './variable.module.scss';

.toggleContainer {
  width: 100%;
  text-align: right;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  z-index: 99999;
  margin-bottom: 20px;
}

.themeIcon {
  font-size: 28px;
  cursor: pointer;
  color: white;
  opacity: 1;
  transition: 0.3s;
  &:hover {
    color: $soft-orange-health;
  }
  z-index: 99999;

}

.left {
  transform: translateX(-10px);
  opacity: 0;
}
.right {
  opacity: 0;
}