// variables.scss

$blue: hsl(246, 80%, 60%);
$light-red-job: hsl(15, 100%, 70%);
$soft-blue-fun: hsl(195, 74%, 62%);
$light-red-learning: hsl(348, 100%, 68%);
$lime-green-sport: hsl(145, 58%, 55%);
$violet-emails: hsl(264, 64%, 52%);
$soft-orange-health: hsl(43, 84%, 65%);
$transition: 0.5s ease;

// Colors - Neutral
$color-background-light: hsl(236, 100%, 87%);
$color-text-light: hsl(235, 46%, 20%);
$color-background-dark: hsl(226, 43%, 10%);
$color-text-dark: hsl(236, 100%, 87%);

// Typography
$body-font-size: 18px;


$mobile-width: 375px;
$desktop-width: 1440px;
